.content {
    width: 100%;
    color: #176B87;
}

.correlation-table table {
    border: 1px solid #ccc;
}

.correlation-table thead {
    background: var(--bs-secondary-bg-rgb);
    border-bottom: 1px solid #ccc;
}

.correlation-table th {
    padding: 7px;
    border-left: 1px solid #ccc;
}

.correlation-table tr {
    border-bottom: 1px solid #ccc;
}

.correlation-table tr td:first-child {
    font-weight: bold;
    border-right: 1px solid #ccc;
    background: var(--bs-secondary-bg-rgb);
}

.correlation-table td {
    padding: 7px;
    border-right: 1px solid #ccc;
}
